<div class="container">
  <div class="row justify-content-center">
    <h1 class="col-12 text-center">Animations</h1>
    <button class="btn btn-success mx-1" (click)="toggleAnimate()">
      Animate
    </button>
    <button class="btn btn-success mx-1" (click)="toggleSpecial()">
      Special
    </button>
  </div>
  <div class="row justify-content-center">
    <div
      class="box mt-3 d-flex justify-content-center align-items-center"
      [@box]="boxState"
    >
      <h4 class="m-0">{{ boxState }}</h4>
    </div>
  </div>
  <div class="row flex-column justify-content-center align-items-center">
    <button class="btn btn-warning mt-3" (click)="toggleVisibility()">
      ToggleVisibility
    </button>
    <div
      *ngIf="visible"
      class="box mt-1 d-flex justify-content-center align-items-center"
      [@visibility]
    >
      <h4 class="m-0">visible</h4>
    </div>
  </div>
</div>
